@model IEnumerable<ThuVienBTL.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = 4;
}

<div class="container-sm pt-5 w-50">
    <form class="d-flex" action="~/ThueSach/SearchSach" method="post">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <button type="submit" class="btn btn-secondary" name="searchSach" id="searchSach"><i class="bi-search"></i></button>
        </div>
    </form>
</div>


<form action="~/ThueSach/LocYeuCau" method="post">
    <div class="d-flex flex-row">

        <p>Ngôn ngữ</p>
        <select name="NgonNgu">
            <option value="All">Tất cả</option>
            <option value="Tiếng việt">Tiếng Việt</option>
            <option value="Tiếng anh">Tiếng Anh</option>
            <option value="Tiếng trung">Tiếng Trung</option>
            <option value="Tiếng pháp">Tiếng Pháp</option>
        </select>

        <p>Thể loại</p>
        <select name="TheLoai">
            <option value="All">Tất cả</option>
            <option value="Truyện thiếu nhi">Truyện thiếu nhi</option>
            <option value="Tiểu thuyết">Tiểu thuyết</option>
            <option value="Kỹ năng sống">Kỹ năng sống</option>
            <option value="Ngôn tình">Ngôn tình</option>
            <option value="Sách giáo khoa">Sách giáo khoa</option>
            <option value="Sách ngoại ngữ">Sách ngoại ngữ</option>
            <option value="Truyện ngắn">Truyện ngắn</option>
            <option value="Văn học">Sách ngoại ngữ</option>
            <option value="Sách tham khảo">Sách tham khảo</option>
        </select>

        <p>Năm xuất bản</p>
        <select name="NamXB">
            <option value="All">Tất cả</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
        </select>

        <button type="submit" class="btn btn-primary" value="Submit">Lọc</button>
    </div>
</form>




<div class="row g-4 pt-5">
    @foreach (var item in Model)
    {

        @*begin*@
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="classes-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                    @{
                        ThuVienBTL.Models.QuanLyThuVienEntities db = new ThuVienBTL.Models.QuanLyThuVienEntities();
                        ThuVienBTL.Models.TT_SACH ttSach = db.TT_SACH.Find(item.MaSach);

                        // Tạo URL đầy đủ từ đường dẫn tương đối
                        string imageUrl = Url.Content(ttSach.URL_IMAGE);
                    }
                    <img class="img-fluid rounded-circle" src="@imageUrl" alt="" style="width: 330px; height: 300px;">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5">
                    <a class="d-block text-center h3 mt-3 mb-4" href="">@item.TenSach</a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">

                            <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">@item.TacGia</h6>
                                <small>@item.NgonNgu</small>
                            </div>
                        </div>
                        <button class="btn btn-primary" OnCommand="DangKyMuon" CommandArgument="@item.MaSach">Đăng ký</button>
                    </div>
                    <div class="row g-1">
                        <div class="col-4">
                            <div class="border-top border-3 border-primary pt-2">
                                <h6 class="text-primary mb-1">Thể loại</h6>
                                <small>@item.TheLoai</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-success pt-2">
                                <h6 class="text-success mb-1">Năm xuất bản</h6>
                                <small>@item.NamXB</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-warning pt-2">
                                <h6 class="text-warning mb-1">Số lượng</h6>
                                <small>@item.SoLuongHIENTAI</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*end*@
    }
</div>
