
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Hiển thị danh sách NhanViens -->
<section class="content">
    <div class="container-fluid pt-4">
        <div class="row">
            <!-- Sách và Thông tin độc giả -->
            <div class="col-12" style="height: 80vh;">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <div class="form-row">

                            <div class="col-6">
                                <h3 class="text-center text-blue text-bold">Quản Lý Phiếu Mượn </h3>
                            </div>

                            <div class="card-tools col-3">
                                <div class="input-group input-group-sm pt-1">
                                    <input type="text"
                                           name="table_search"
                                           class="form-control float-right"
                                           placeholder="Search" />

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <button type="button" class="btn btn-warning lamMoiSach" id="lamMoiButton">Làm mới</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <form>
                            <!--Danh sách sách mượn-->
                            <div class="text-center">
                                <table class="table table-hover table-head-fixed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã PM</th>
                                            <th>Mã Thẻ</th>
                                            <th>Độc giả</th>
                                            <th>Ngày mượn</th>
                                            <th>Hạn trả</th>
                                            <th>Mã NV</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody id="danhSachPhieuMuon">
                                        @foreach (var item in ViewData["PhieuMuon"] as List<WebQuanLyThuVien.Areas.Admin.Data.PhieuMuon_DTO>)
                                        {
                                            <tr class="qly_phieumuon_row" data-ma-the="@item.MaThe">
                                                <td>@item.MaPM</td>
                                                <td>@item.MaThe</td>
                                                <td>@item.HoTenDG</td>
                                                <td>@string.Format("{0:dd-MM-yyyy}", item.NgayMuon)</td>
                                                <td>@string.Format("{0:dd-MM-yyyy}", item.HanTra)</td>
                                                <td>@item.MaNV</td>
                                                <td>
                                                    @if (item.HanTra < DateTime.Now && !item.Tinhtrang)
                                                    {
                                                        <button type="button" class="btn btn-danger p-1" style="font-size: 11px;" onclick="console.log('Xử lý quá hạn')">Quá hạn</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-warning p-1" style="font-size: 11px;" onclick="console.log('Xử lý đã trả')">Chưa trả</button>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-blue" style="font-weight: bold;" id="">Chi tiết phiếu mượn</h4>
            </div>

            <!-- Body -->
            <form class="modal-body p-4">
                <div class="form-row">
                    <!--Mã phiếu mượn-->
                    <div class="form-group col">
                        <label>Mã phiếu mượn:</label>
                        <input class="form-control" id="maPhieuMuonModal" readonly>
                    </div>

                    <!--Mã thẻ-->
                    <div class="form-group col">
                        <label>Mã thẻ độc giả:</label>
                        <input class="form-control" id="maTheModal" readonly>
                    </div>
                </div>

                <!--Danh sách sách mượn-->
                <div class="text-center">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên sách</th>
                                <th>S/Lượng</th>
                            </tr>
                        </thead>
                        <tbody id="danhSachSachMuon">
                            @foreach (var item in ViewData["CTPhieuMuon"] as List<WebQuanLyThuVien.Areas.Admin.Data.DTO_Sach_Muon> ?? new List<WebQuanLyThuVien.Areas.Admin.Data.DTO_Sach_Muon>())
                            {
                                <tr class="sachmuon-row" data-ma-sach="@item.">
                                    <td>@item.MaSach</td>
                                    <td>@item.TenSach</td>
                                    <td>@item.SoLuong</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Đóng </button>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>

        //=====================  Xử lý sự kiện khi click vào 1 hàng  trong table  =====================

        // Lấy danh sách các hàng của table
        var quanLyPhieuMuonRows = document.querySelectorAll(".qly_phieumuon_row");

        // Bắt sự kiện click cho từng hàng sách
        quanLyPhieuMuonRows.forEach(function (row) {
             row.addEventListener("click", function () {
                // Lấy thông tin
                var maPhieuMuon = row.querySelector("td:nth-child(1)").textContent;
                var maTheDocGia = row.querySelector("td:nth-child(2)").textContent;

                // Điền modal với dữ liệu
                document.getElementById("maPhieuMuonModal").value = maPhieuMuon;
                document.getElementById("maTheModal").value = maTheDocGia;

                var maPm = parseInt(maPhieuMuon);

                $.ajax({
                    url: '@Url.Action("ChiTietPhieuMuon", "QuanLyMuon")',
                    type: 'POST',
                    data: {
                        id: maPm,
                    },
                    success: function (data) {
                        if (data.success) {
                            // Xử lý dữ liệu JSON trả về
                            var ctpmData = data.data;
                            // Cập nhật danh sách sách mượn trong view
                            var danhSachSachMuon = $("#danhSachSachMuon");

                            danhSachSachMuon.empty(); // Xóa nội dung bảng

                            $.each(ctpmData, function (index, item) {
                                var newRow = $(` <tr class="sachmuon-row" data-ma-sach="${item.MaSach}">
                                    <td>${item.MaSach}</td>
                                    <td>${item.TenSach}</td>
                                    <td>${item.SoLuong}</td>
                                </tr> `);

                                danhSachSachMuon.append(newRow);
                            });

                            // Mở modal
                            $("#exampleModalScrollable").modal("show");
                        } else {
                            console.error("Không thành công trong việc nhận dữ liệu từ server.");
                        }
                    }
                });
            });
        });


        // Format date
        function formatDate(dateString) {
            var options = { year: 'numeric', month: 'numeric', day: 'numeric' };
            var formattedDate = new Date(dateString).toLocaleDateString(undefined, options);
            return formattedDate;
        }

    </script>
}




